#web-image-info {
    color: #333 !important;
    background-color: #ddd !important;
    padding: 5px 10px;
    height: 24px !important;
    font-size: 14px !important;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999999;
}
