#web-image-info {
    color: #333 !important;
    background-color: #ddd !important;
    padding: 5px 10px !important;
    height: 14px !important;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999999;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: auto 0 !important;
    box-sizing: content-box !important;
}
